@font-face {
  font-family: "Inter", sans-serif;
  src: local(""), url("../public/fonts/Inter-400.woff2") format("woff2"),
    url("../public/fonts/Inter-500.woff2") format("woff2"),
    url("../public/fonts/Inter-600.woff2") format("woff2"),
    url("../public/fonts/Inter-700.woff2") format("woff2"),
    url("../public/fonts/Inter-800.woff2") format("woff2"),
    url("../public/fonts/Inter-900.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hanuman", serif;
  src: local(""), url("../public/fonts/Hanuman-Regular.ttf") format("ttf"),
    url("../public/fonts/Hanuman-Thin.ttf") format("ttf"),
    url("../public/fonts/Hanuman-Light.ttf") format("ttf"),
    url("../public/fonts/Hanuman-Bold.ttf") format("ttf"),
    url("../public/fonts/Hanuman-Black.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter","Hanuman", sans-serif, serif;  
    font-style: normal;
    color: #262e3c !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
  }